{% extends "LoginLoginBundle:Default:index.html.twig" %}
  {% block stylesheets %}

  {% endblock %}
  {% block container %}
    <div class="container">
      <h2> Hello {{ username }} </h2>
    </div>

    <a href="{{ path('login_logout') }}" class="btn btn-sm btn-warning">Logout</a>
{% endblock %}
