<form name="logForm" data-ng-submit="login()" role="form">
    <div class="form-group" >
        <div class="row">
            <div class="page-header">
                <h2 class="header_global">Login form <i class="fa fa-user-plus fa-1x"></i></h2>
            </div>
        </div>
    </div>
    <div data-ng-show="error" class="alert alert-danger">{{error}}</div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-2 col-lg-2"></div>
            <div class="col-sm-8 col-lg-8">
                <label for="username">
                    User login: <i class="fa fa-key"></i>
                </label>
                <input  type="text"
                        class="form-control"

                        name="user"
                        id="username"
                        placeholder="User name:"
                        data-ng-model="username"
                        required/>
                <span data-ng-show="logForm.username.$dirty && logForm.username.$error.required" class="help-block">
                    User is required
                </span>
            </div>
            <div class="col-sm-2 col-lg-2"></div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-2 col-lg-2"></div>
            <div class="col-sm-8 col-lg-8">
                <label for="password">  Password: </label>
                <i class="fa fa-lock"></i>
                <input class="form-control"
                       type="password"
                       name="password"
                       id="password"
                       placeholder="User name:"
                       data-ng-model="password"
                       required/>
                 <!--<span data-ng-show="logForm.password.$dirty && logForm.password.$error.required" class="help-block">-->
                    <!--User is required-->
                <!--</span>-->
            </div>
            <div class="col-sm-2 col-lg-2"></div>
        </div>
    </div>
    <div class="form-actions">
        <div class="row">
            <div class="col-sm-2 col-lg-2"></div>

            <div class="col-sm-8 col-lg-8">
                <button type="submit" class="btn btn-primary btn-sm" data-ng-disabled="logForm.$invalid  || dataLoading">Save</button>
                <i data-ng-if="dataLoading" class="fa fa-spinner fa-pulse "  style="color:green"></i>
                <a href="/registration" class = "btn btn-default btn-sm " role="button" >Registration</a>
            </div>
            <div class="col-sm-2 col-lg-2"></div>

        </div>
        <br>
        <div class="row">
            <div class="col-sm-6 col-lg-6">

            </div>
            <div class="col-sm-6 col-lg-6"></div>
        </div>
    </div>

</form>




