<div class="row">
    <div class="page-header">
        <!--<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>-->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <h1 style="color: #193c5a" class="header_global">
                <i class="fa fa-spin fa-asterisk" ></i>
                Home
            </h1>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <div class="userNameTatle">
                <h4>Добро пожаловать пользователь <b>{{userName_1}}</b></h4>
            </div>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>

    </div>
</div>


<div class="row">

    <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2 panelTaskLeft">
        <div class="profile_foto">
            <img class="img-responsive" src="app/images/maket.png" alt="">
        </div>
        <!---->
        <div class="block-menu-user">
            <div class="block-menu-user_but">
                <button class="btn btn-sm btn-block btn-primary" data-ng-click="AddTask()">Add new task</button>
            </div>
            <!---->
            <div class="block-menu-user_but">
                <a href="/login" class="btn btn-block btn-sm btn-primary"  data-ng-click="logout()">Logout</a>
            </div>
        </div>
        <!---->
    </div>
    <div>
        <!--<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>-->
        <!---->
        <!---->
    </div>
    <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9 panelTask" >
        <div class="panel panel-warning">
            <div class="panel-heading">Task list info</div>
            <table class="table">
                <thead>
                <tr>
                    <th>Task id</th>
                    <th>Task title</th>
                    <th>Task body</th>
                    <th>Task status</th>
                    <th>Setting <i class="fa fa-cogs"></i></th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="item in items">
                    <td>{{item.id}}</td>
                    <td>{{item.taskTitle}}</td>
                    <td>{{item.taskBody}}</td>
                    <td data-ng-class="{
                        'color-low': item.taskStatus === 'low',
                        'color-normal': item.taskStatus === 'normal',
                        'color-critical': item.taskStatus === 'critical',
                    }">
                        {{item.taskStatus}}</td>
                    <td>
                        <button class="fa fa-file-text-o  btn btn-sm btn-primary taskSetting" data-ng-click="viewTask(item)"></button>
                        <button class="fa fa-pencil-square-o btn btn-sm btn-success taskSetting" data-ng-click="editTask(item)"></button>
                        <button class="fa fa-trash btn btn-sm btn-danger taskSetting" data-ng-click="deleteTask(item)" ></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>











<!--модальные окна  добавление  задания-->
<script type="text/ng-template" id="addTaskUser.html">
    <div>
        <form data-ng-submit="deleteUserTable()">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <h4 class="modal-title">Form for add new task</h4>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                            <div class="form-group">
                                <lable>
                                    <h4>Title</h4>
                                    <input type="text"
                                           class="form-control"
                                           placeholder="input task title"
                                           data-ng-model="item.taskTitle">
                                </lable>
                            </div>
                            <div class="form-group">
                                <lable>
                                    <h4>Body</h4>
                                    <input type="text"
                                           class="form-control"
                                           placeholder="input task body"
                                           data-ng-model="item.taskBody"
                                            >
                                </lable>
                            </div>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <h4>Status {{item.taskStatus}}</h4>
                                <label>
                                    <input type="radio"
                                           name="statusTask"
                                           data-ng-change="RadioChange('low')"
                                           data-ng-model="item.taskStatus"
                                           value="low">
                                    Low priority
                                </label>
                                <label>
                                    <input type="radio"
                                           name="statusTask"
                                           data-ng-change="RadioChange('normal')"
                                           data-ng-model="item.taskStatus"
                                           value="normal">
                                    Normal priority
                                </label>
                                <label>
                                    <input type="radio"
                                           name="statusTask"
                                           data-ng-change="RadioChange('critical')"
                                           data-ng-model="item.taskStatus"
                                           value="critical">
                                    Critical priority
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit" data-ng-click="AddTaskEnd()">Add new task</button>
                    <button class="btn btn-default" data-ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</script>
<!--конец-->

<!--модальное окно отображения информации -->
<script type="text/ng-template" id="viewTaskUser.html">
    <div>
        <form data-ng-submit="viewUserTable()">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <h3 class="modal-title">Detailed description of the task</h3>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <h4>Number for task :<b> № {{item.id}}</b> <br>
                                Title fot task : <b>{{item.taskTitle}}</b> <br>
                                Body for task :  <b> {{item.taskBody}}</b><br>
                                Status for task :<b>{{item.taskStatus}}</b></h4>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" data-ng-click="cancel()">Return</button>
                </div>
            </div>
        </form>
    </div>
</script>
<!--конец-->


<!--модальное окно для редактирования пользователя-->
<script type="text/ng-template" id="editTaskUser.html">
    <div>
        <form data-ng-submit="editUserTable()">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <h4 class="modal-title">Edit description of the task</h4>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <td>
                                <h4>Title</h4>
                                <input type="text" class="form-control" data-ng-model="date.taskTitle">
                            </td>
                            <td>
                                <h4>Body</h4>
                                <input type="text" class="form-control" data-ng-model="date.taskBody">
                            </td>
                            <td>
                                <div class="form-group">
                                    <h4>Status {{date.taskStatus}}</h4>
                                    <label>
                                        <input type="radio"
                                               name="statusTask"
                                               data-ng-change="RadioChange('low')"
                                               data-ng-model="date.taskStatus"
                                               value="low">
                                        Low priority
                                    </label>
                                    <label>
                                        <input type="radio"
                                               name="statusTask"
                                               data-ng-change="RadioChange('normal')"
                                               data-ng-model="date.taskStatus"
                                               value="normal">
                                        Normal priority
                                    </label>
                                    <label>
                                        <input type="radio"
                                               name="statusTask"
                                               data-ng-change="RadioChange('critical')"
                                               data-ng-model="date.taskStatus"
                                               value="critical">
                                        Critical priority
                                    </label>
                                </div>
                            </td>
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit" data-ng-click="EndViewTaskEnd(date, item)">Save the changes
                    </button>
                    <button class="btn btn-default" data-ng-click="cancel()">Cancel</button>
                </div>

            </div>
        </form>
    </div>

</script>
<!--конец-->
<!--модальное окно для удаления задачи-->
<script type="text/ng-template" id="deleteTaskUser.html">
    <div>
        <form data-ng-submit="deleteUserTable()">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <h4 class="modal-title">Delete description of the task</h4>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                            <p>You seriously want to remove task № <b>{{item.id}}</b>
                                under name :<b> {{item.taskTitle}}</b>
                                from task - <b>{{item.taskBody}}</b>
                                in status: <b>"{{item.taskStatus}}"</b> ??</p>

                            <p>If yes, press the Delete button.</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="submit" data-ng-click="EndViewTaskEnd(item)">Delete
                    </button>
                    <button class="btn btn-default" data-ng-click="cancel()">Cancel</button>
                </div>

            </div>
        </form>
    </div>
</script>
<!--конец-->

