<div class="row">
    <br>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <h1 style="color: #193c5a"><i class="fa fa-spin fa-asterisk" style="color: #00b3ee"></i> Home </h1>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <br>
        <br>
        <br>
       lol {{$scope.username}}
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <br>
            {{message}}
            <p><a href="/login" class="btn  btn-default"  style="color: #857db6">Logout</a></p>
    </div>

</div>


