html{
  position: relative;
  min-height: 100%;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding-top: 20px;
  margin-bottom: 20px;
  background-attachment: fixed;
  background-image: url(../images/solid.png);
  background-repeat: repeat;

}
html,body {
  height: 100%;
}
.container .index {
  min-height: 100%;
  margin-bottom: -142px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;

}

div .icon-block-head p .iconsHead {
  margin-top: 20px;
}



/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.page-wrapper {
  min-height: 100%;
  margin-bottom: -50px;

}
* html .page-wrapper{
  height: 100%;
}
.footer {
  position: relative;
  margin-top: -150px;
  height: 150px;
  clear:both;
  padding-top: 20px;;
  background-color: #ffdf00;
  color: #ffff00;
  /*position: absolute;*/
  /*bottom: 0;*/
  /*width: 100%;*/
  /*height: 90px;*/
  /*background-color: rgba(242, 242, 242, 0.40);*/
  /*color: rgba(110, 101, 87, 0.47);*/
}
section i {
  padding: 7px 20px 0 0;
  color: black;
}
section i {
  vertical-align:bottom ;
  transition: color .3s ease-in-out;
}
section a:nth-child(1):hover i{
  color: #3b5998;
}



section a:nth-child(2):hover i {
  color: #4099FF;
}

section a:nth-child(3):hover i {
  color: #007bb6;
}

section a:nth-child(4):hover i {
  color: #ff001f;
}

section a:nth-child(5):hover i {
  color: #3461b4;
}
section a:nth-child(6):hover i {
  color: #20dcff;
}





.footer .references {
  float: right;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

